##

## Customer Churn Prediction

## Life cycle of Machine Learning project 
- Defining Problem statement
- Data Colllection
- data Checks to perform
- EDA
- Data Preprocessing
- Model Tranning
- choosing  the best model

## 1. Problem statement
- Customer retention is a critical challenge in the telecommunications industry. Acquiring new customers often costs significantly more than retaining existing ones. IBM’s Telco Customer Churn dataset provides a detailed view of customer demographics, service usage, account information, and churn behavior. Identifying which customers are likely to churn enables companies to take proactive retention measures, improve customer satisfaction, and reduce revenue loss.

-  we have to Predict customer churn using demographic, service, and account data from a telecom company to enable targeted retention strategies and reduce customer attrition through machine learning classification.

## 2. Data Collection
Dataset Source : https://www.kaggle.com/datasets/blastchar/telco-customer-churn/data

### Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import warnings
warnings.filterwarnings("ignore")

In [3]:
data=pd.read_csv('data/churn data.csv')
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

## 3.Data Checks to perform
- Check Missing values
- Check Duplicates
- Check data type
- Check the number of unique values of each column
- Check various categories present in the different categorical column

There is no missing and duplicate vslues in the data

In [6]:
#dropping umwanted columns
data=data.drop(['customerID'], axis=1 )

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   float64
 19  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 1.1+ MB

In [ ]:
numerical_features=['tenure','MonthlyCharges','TotalCharges']
for column in data.columns:
    if column not in numerical_features:
         print(column,data[column].unique())
         print('-'*30)

In [8]:
#converting SeniorCitizen and TotalCharges to numbers
data['TotalCharges'] = data['TotalCharges'].str.strip().replace('', np.nan).astype(float)
data['SeniorCitizen'] = data['SeniorCitizen'].astype(int)

In [10]:
#filling the missing values with mean
data['TotalCharges'] = data['TotalCharges'].fillna(data['TotalCharges'].mean())

we replace blank spaces presrnt in the 'TotalCharges' column to 'NaN' and replace those 'NaN' vlaues with the mean of the 'TotalCharges' column

## 3. EDA